/* The font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* incase you start bitching and decide not to use a theme in mui */
:root {
  --light-gray: #d6e2f0;
  --lùepg: #d6e2f0;
  -ziey: #1f3251;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--light-gray);
  font-family: "Outfit", "arial";
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#root {
  width: 100%;
}

.generator {
  font-family: inherit;
}
